:root {
    --color-black: #2f2f2f;
    --color-light-grey: #e7e7e7;
    --color-light-yellow: #faf4dc;
    /* default theme */
    --color-brown: #53494a;
    --color-dark-brown: #463d3e;
    --color-default-green: #91c8b1;
    --color-grey: #746e6e;
    /* kiwi theme */
    --color-green: #96caa4;
    --color-dark-green: #79bf8b;
    --color-light-green: #b0d9bb;
    --color-yellow: #f9eb88;
    /* gold theme */
    --color-gold: #e3c68c;
    --color-dark-gold: #d2ab66;
    --color-light-gold: #ead5aa;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: var(--color-black);
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page {
    width: 100%;
    flex-shrink: 0;
}

header .fas {
    padding: 12px 0 12px 12px;
    color: var(--color-dark-brown);
    font-size: 20px;
    cursor: pointer;
}

header .fas:active {
    opacity: 0.5;
}

/* menu styles */

.menu-window {
    position: fixed;
    top: 0;
    left: -70%;
    z-index: 100;
    display: flex;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    color: white;
    background-color: var(--color-brown);
    font-size: 16px;
    font-weight: bold;
    transition: left 0.4s;
    touch-action: none;
}

.menu-window.active {
    left: 0;
}

#menu-close {
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 8px;
    color: var(--color-light-yellow);
    font-size: 20px;
}

#menu-close:active {
    color: var(--color-black);
}

.menu-window ul {
    padding: 0;
    margin-top: 36px;
}

.menu-window li {
    list-style-type: none;
    padding: 4px 12px;
    cursor: pointer;
}

.menu-window li:last-child {
    position: fixed;
    bottom: 8px;
    font-family: 'Poppins', sans-serif;
}

.black {
    position: fixed;
    z-index: 50;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
}

.black.active {
    visibility: visible;
    opacity: 0.5;
}

/* edit styles */

.edit-window {
    position: fixed;
    top: 0;
    z-index: 200;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 12px;
    color: white;
    background-color: var(--color-brown);
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
}

.edit-window.active {
    visibility: visible;
    opacity: 1;
}

.edit-window .fas {
    color: var(--color-light-yellow);
    font-size: 20px;
    cursor: pointer;
}

.edit-window .fas:active {
    color: var(--color-black);
}

#edit-close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
}

.edit-window form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 90%;
    margin-top: 12px;
    font-weight: bold;
}

.edit-window ul {
    padding: 0;
    margin-top: 24px;
}

.edit-window li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 0;
    border-bottom: 2px solid var(--color-grey);
    list-style-type: none;
}

.edit-window li:last-of-type {
    border: none;
    margin-bottom: 24px;
}

.edit-window input, select {
    border: none;
    color: white;
    background-color: rgba(0,0,0,0);
    width: auto;
    text-align: right;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

.edit-window option {
    color: var(--color-black);
}

.edit-window input[type="file"] {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
}

.edit-window input[type="submit"] {
    bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: none;
    color: var(--color-black);
    background-color: var(--color-default-green);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.edit-window input[type="submit"]:active {
    background-color: var(--color-light-yellow);
}

.themes {
    display: flex;
    flex-direction: row;
    filter: grayscale(30%);
}

.themes .checked {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

.themes .checked .fas {
    font-size: 24px;
}

.themes table {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    border-collapse:collapse;
    border-spacing: 0;
    cursor: pointer;
}

.themes table caption {
    caption-side: bottom;
}

.themes td {
    width: 50%;
    height: 50%;
}

/* user-list styles */

.user-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100%;
    z-index: 150;
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--color-brown);
    transition: top 0.4s
}

.user-list.active {
    top: 0;
}

.user-list nav {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--color-black);
    background-color: white;
}

.user-list nav * {
    padding: 12px;
}

.user-list nav .fas {
    color: var(--color-dark-brown);
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
}

.user-list ul {
    padding: 0;
    margin: 0;
}

.user-list li {
    display: flex;
    justify-items: center;
    border-bottom: 1px solid var(--color-grey);
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    touch-action: none;
    transition: transform 0.2s;
}

.user-list .user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 18px;

}

.user-list .user-item .fas {
    color: var(--color-light-yellow);
}

.user-list .user-item .fa-home {
    color: var(--color-default-green);
}

.user-list .edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background-color: var(--color-default-green);
}

.user-list .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background-color: var(--color-grey);
}

/* page styles */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0;
}

.profile_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_image:active {
    opacity: 0.5;
}

.profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.profile_image input[type="file"] {
    visibility: hidden;
}

.profile .info {
    text-align: center;
}

.profile .info::first-line {
    font-size: 22px;
}

.current {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    padding: 12px;
    border-radius: 8px 8px 0 0;
    color: white;
    font-weight: bold;
}

.current .fas {
    color: var(--color-light-yellow);
}

.progress {
    color: white;
    width: 100%;
}

.percent {
    position: relative;
}

small {
    position: relative;
    top: 5px;
}

.progress_main {
    padding: 16px;
    overflow: hidden;
}

.progress_main .bar {
    height: 10px;
    margin-top: 10px;
}

.progress_sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px 16px;
    overflow: hidden;
}

.progress_sub .bar {
    height: 4px;
    margin-top: 10px;
}

.progress_sub .progress_salary, .progress_rank {
    width: 45%;
}

.progress_main .bar_filled {
    height: 100%;
}

.progress_main .percent {
    font-size: 11px;
}

.progress_sub .bar_filled {
    height: 100%;
}

.progress_sub .percent {
    font-size: 10px;
}

.days {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

.days div {
    border-bottom: 1px solid var(--color-light-grey);
    padding: 8px;
}

.days span {
    float: right;
}
